
/* Footer */

footer{
    background: center center/cover url('../images/footer-bg.png') no-repeat;
    background-color: var(--color-dark);
    padding: 32px 0;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__logo{
    max-width: 114px;
    width: 100%;
    height: 48px;
}

.footer__menu, .footer-contacts, .footer__info{
    max-width: 211px;
    width: 100%;
}

.footer__menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer__menu a{
    text-decoration: none;
    color: var(--color-light);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-contacts__row, .footer__policy{
    text-decoration: none;
    color: var(--color-light);
    font-size: 16px;
    font-weight: 300;
}

.footer__socials{
    display: flex;
    align-items: center;
    gap: 22px;
}

.footer__socials a, .footer__policy{
    text-decoration: none;
}

.footer__socials a svg{
    width: 32px;
    height: 32px;
    fill:var(--color-light);
    transition: 300ms all;
}

.footer__socials a:hover svg{
    opacity: 0.8;
}

.footer__copyright{
    margin-top: 16px;
    color: #A18268;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}