

/* Traditions */

.traditions{
    padding: 96px 0 48px 0;
}

.traditions__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 102px;
}

.traditions__right{
    max-width: 441px;
    padding-right: 48px;
}

.traditions__right img{
    width: 100%;
    height: auto;
    max-width: 393px;
    border-radius: 400px 400px 0px 0px;
}

.traditions__left{
    max-width: 675px;
}

.traditions .section-text{
    margin-top: 42px;
}

.traditions .section-text span{
    color: var(--color-main);
    font-weight: 600;
}

.traditions .section-text p:last-child{
    max-width: 360px;
}